@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  padding-top: 20px; 
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: block;
  }
}
.menu {
  &__inner {
    display: flex;
  }
  &__btn {
    display: none;
    background-color: transparent;
    border: 0;
    width: 44px;
    height: 44px;
    padding: 11px 5px;
    position: relative;
    span {
      width: 33px;
      height: 3.67px;
      background-color: $accent1;
      border-radius: 10px;
    }
    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 33px;
      height: 3.67px;
      background-color: $accent1;
      left: 6px;
      border-radius: 10px;
    }
    &::before {
      top: 11px;
    }
    &::after {
      bottom: 11px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    & + .menu__item {
      margin-left: 45px;
    }
  }
  &__link {
   @extend %openSans-400;
   color: $black;
   line-height: 22px;
   &:hover {
    color: $accent1;
   }
  }
}
.user-nav {
  display: flex;
  align-items: center;
  &__link {
    display: block;
    padding: 16px 22px 16px 56px;
    background-color: $accent1;
    @extend %interMedium-500;
    font-size: 16px;
    color: $white;
    margin-left: 40px;
    margin-right: 46px;
    border-radius: 32px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      background-image: url('../images/icon/phone.svg');
      width: 18px;
      height: 18px;
      top: 50%;
      transform: translateY(-50%);
      left: 22px;
    }
    &:hover {
      background-color: $accent1-Bold;
    }
    &:active,
    &:focus-visible {
      background-color: $pasive;
    }
  }
  &__box {
    color: $grey;
    @extend %interMedium-500;
    font-size: 16px;
    line-height: 19px;
    span {
      padding: 0 2px;
    }
  }
  &__lang {
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 0;
    color: $grey;
    &:hover {
      color: $accent1;
    }
    &.user-nav__lang-active {
      color: $accent1;
    }
  }
}
.footer {
  background-color: $accent1;
  padding: 60px 0 100px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__logo-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__logo-img {
    width: 237px;
    height: auto;
    object-fit: cover;
  }
  &__logo-link {
    @extend %openSans-400;
    line-height: 1.6;
    color: $white;
    display: inline-block;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 632px;
    width: 100%;
  }
  &__nav-item {
    margin-bottom: 18px;
    & + .footer__nav-item {
      margin-bottom: 10px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__nav-title,
  &__contact-title {
    @extend %openSans-700;
    font-size: 22px;
    line-height: 1.1;
    color: $white;
  }
  &__nav-link {
    @extend %openSans-400;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    display: inline-block; 
    &:hover {
      color: $black;
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;
  }
  &__contact-box {
    margin-bottom: auto;
  }
  &__contact-title {
    margin-bottom: 18px;
  }
  &__contact-link {
    display: block;
    @extend %openSans-600;
    font-size: 20px;
    line-height: 1.6;
    color: $white;
    padding-left: 28px;
    position: relative;
    & +.footer__contact-link {
      margin-top: 6px;
    }
    &:hover {
      color: $black;
    }
    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &--tel {
      &::before {
        background-image: url('../images/icon/phone.svg');
        width: 18px;
        height: 18px;
      }
    }
    &--email {
      &::before {
        background-image: url('../images/icon/letter.svg');
        width: 20px;
        height: 16px;
      }
    }
  }
  &__social-box {
    display: flex;
    align-items: center;
  }
  &__social-link {
    display: inline-block;
    svg {
      path {
        fill: $white
      }
    }
    &:hover {
      svg {
        path {
          fill: $black
        }
      }
    }
  }
}






@import 'media';