@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  padding-top: 20px; 
  background-color: $white;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: block;
  }
}
.menu {
  &__inner {
    display: flex;
  }
  &__btn {
    display: none;
    background-color: transparent;
    border: 0;
    width: 44px;
    height: 44px;
    padding: 11px 5px;
    position: relative;
    span {
      width: 33px;
      height: 3.67px;
      background-color: $accent1;
      border-radius: 10px;
    }
    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 33px;
      height: 3.67px;
      background-color: $accent1;
      left: 6px;
      border-radius: 10px;
    }
    &::before {
      top: 11px;
    }
    &::after {
      bottom: 11px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    & + .menu__item {
      margin-left: 45px;
    }
  }
  &__link {
   @extend %openSans-400;
   color: $black;
   line-height: 22px;
   &:hover {
    color: $accent1;
   }
  }
}
.user-nav {
  display: flex;
  align-items: center;
  &__link {
    display: block;
    padding: 16px 22px 16px 56px;
    background-color: $accent1;
    @extend %interMedium-500;
    font-size: 16px;
    color: $white;
    margin-left: 40px;
    margin-right: 46px;
    border-radius: 32px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      background-image: url('../images/icon/phone.svg');
      width: 18px;
      height: 18px;
      top: 50%;
      transform: translateY(-50%);
      left: 22px;
    }
    &:hover {
      background-color: $accent1-Bold;
    }
    &:active,
    &:focus-visible {
      background-color: $pasive;
    }
  }
  &__box {
    color: $grey;
    @extend %interMedium-500;
    font-size: 16px;
    line-height: 19px;
    span {
      padding: 0 2px;
    }
  }
  &__lang {
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 0;
    color: $grey;
    &:hover {
      color: $accent1;
    }
    &.user-nav__lang-active {
      color: $accent1;
    }
  }
}
.footer {
  background-color: $accent1;
  padding: 60px 0 100px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__logo-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .social-list {
      display: none;
    }
  }
  &__logo-img {
    width: 237px;
    height: auto;
    object-fit: cover;
  }
  &__logo-link {
    @extend %openSans-400;
    line-height: 1.6;
    color: $white;
    display: inline-block;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    width: 632px;
    padding: 40px 200px 12px 0;
  }
  &__nav-item {
    margin-bottom: 18px;
    & + .footer__nav-item {
      margin-bottom: 10px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__nav-title,
  &__contact-title {
    @extend %openSans-700;
    font-size: 22px;
    line-height: 1.1;
    color: $white;
  }
  &__nav-link {
    @extend %openSans-400;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    display: inline-block; 
    &:hover {
      color: $black;
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;
  }
  &__contact-box {
    margin-bottom: auto;
  }
  &__contact-title {
    margin-bottom: 18px;
  }
  &__contact-link {
    display: block;
    @extend %openSans-600;
    font-size: 20px;
    line-height: 1.6;
    color: $white;
    padding-left: 28px;
    position: relative;
    & +.footer__contact-link {
      margin-top: 6px;
    }
    &:hover {
      color: $black;
    }
    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &--tel {
      &::before {
        background-image: url('../images/icon/phone.svg');
        width: 18px;
        height: 18px;
      }
    }
    &--email {
      &::before {
        background-image: url('../images/icon/letter.svg');
        width: 20px;
        height: 16px;
      }
    }
  }
  &__social-item {
    & + .footer__social-item {
      margin-left: 25px;
    }
  }
}
.social-list {
  display: flex;
  align-items: center;
  &__item {
    display: inline-block;
    svg {
      path {
        fill: $white;
      }
    }
    &:hover {
      svg {
        path {
          fill: $black;
        }
      }
    }
  }
}

.hero {
  margin-top: 72px;
  padding: 60px 0 50px;
  &__inner {
    display: flex;
    justify-content: space-between;
    background-image: url('../images/hero/hero-right-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    padding-top: 40px;
  }
  &__content {
    max-width: 830px;
    width: 100%;
    padding-top: 10px;
    background-image: url('../images/hero/hero-leftbg.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left top;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title-box {
    margin-bottom: 60px;
  }
  &__title {
    @extend %openSans-800;
    font-size: 70px;
    line-height: 1;
    color: $accent2;
  }
  &__subtitle {
    @extend %openSans-700;
    font-size: 28px;
    line-height: 1.6;
    color: $accent1;
    margin-bottom: 30px;
  }
  &__text {
    width: 378px;
    @extend %openSans-400;
    line-height: 1.6;
    color: $text;
  }
  &__btn-box {
    display: flex;
    align-items: center;
  }
  &__btn-order,
  &__btn-talk {
    @extend %interMedium-500;
    font-size: 16px;
    line-height: 19px;
    border: none;
  }

  &__btn-order {
    display: inline-block;
    padding: 22px 60px 22px 38px;
    background-color: $accent1;
    color: $white;
    border-radius: 32px;
    margin-right: 20px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background-image: url('../images/icon/arrow.svg');
      width: 24px;
      height: 24px;
      top: 50%;
      transform: translateY(-50%);
      right: 32px;
    }
    &:hover {
      background-color: $accent1-Bold;
    }
    &:active,
    &:focus-visible {
      background-color: $pasive;
    }
  }
  &__btn-talk {
    background-color: transparent;
    color: $black;
    display: flex;
    align-items: center;
    gap: 8px;
    &:hover {
      color: $accent1-Bold;
      .hero__btn-talk-icon {
        rect,
        circle {
          stroke: $accent1-Bold;
        }
      }
      .hero__btn-talk-icon,
      .hero__btn-talk-arrow {
        path {
          fill: $accent1-Bold;
        }
      }
    }
    &:active,
    &:focus-visible {
      color: $pasive;
      .hero__btn-talk-icon {
        rect,
        circle {
          stroke: $pasive;
        }
      }
      .hero__btn-talk-icon,
      .hero__btn-talk-arrow {
        path {
          fill: $pasive;
        }
      }
    }
    &-icon {
      rect,
      circle {
        stroke: $accent1;
      }
      path {
        fill: $accent1;
      }
    }
    &-arrow {
      path {
        fill: $black;
      }
    }
  }
  &__social-title {
    display: inline-block;
    @extend %openSans-600;
    font-size: 16px;
    line-height: 1.6;
    color: $accent2-lite;
    margin-bottom: 10px;
  }
  .social-list {
    &__item {
      & + .social-list__item {
        margin-left: 20px;
      }
      svg {
        path {
          fill: $accent2-lite;
        }
      }
      &:hover {
        svg {
          path {
            fill: $black;
          }
        }
      }
    }
  }
  &__img-wrapper {
    padding-top: 10px;
    position: relative;
  }
  &__picture {
    display: block;
    width: 622px;
    height: auto;
  }
  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__subimg {
    position: absolute;
    bottom: 0;
    left: -255px;
    width: 235px;
    height: auto;
    object-fit: cover
  }
}




@import 'media';